/* Lilac dream theme */
.l-1 {
  background-color: #F1E1FF !important;
}

.l-2 {
  background-color: #E2C1FF !important;
}

.l-3 {
  background-color: #5C4B6B !important;
}

.l-4 {
  background-color: #4A3B5A !important;
}

.l-5 {
  background-color: #352A3D !important;
}

/* Midnight blue theme */
.b-1 {
  background-color: #DEEEFF !important;
}

.b-2 {
  background-color: #40576D !important;
}

.b-3 {
  background-color: #223444 !important;
}

.b-4 {
  background-color: #1E2F3F !important;
}

.b-5 {
  background-color: #182633 !important;
}