:root {
  --l-1: #F1E1FF;
  --l-2: #E2C1FF;
  --l-3: #5C4B6B;
  --l-4: #463855;
  --l-5: #352A3D;

  --b-1: #DEEEFF;
  --b-2: #BAD0EF;
  --b-3: #384E62;
  --b-4: #1E2F3F;
  --b-5: #182633;

  --p-1: #fff3f3;
  --p-2: #b48a84;
  --p-3: #7c5852;
  --p-4: #442824;
  --p-5: #2c1612;

  --g-1: #ecfff3;
  --g-2: #BBF0CB;
  --g-3: #437352;
  --g-4: #1F4029;
  --g-5: #183320;

    /* DEFAULT */
    --c-1: var(--l-1);
    --c-2: var(--l-2);
    --c-3: var(--l-3);
    --c-4: var(--l-4);
    --c-5: var(--l-5);
}

:root[theme="lilac"] {
  --c-1: var(--l-1);
  --c-2: var(--l-2);
  --c-3: var(--l-3);
  --c-4: var(--l-4);
  --c-5: var(--l-5);
}

:root[theme="midnight"] {
  --c-1: var(--b-1);
  --c-2: var(--b-2);
  --c-3: var(--b-3);
  --c-4: var(--b-4);
  --c-5: var(--b-5);
}

:root[theme="chocolate"] {
  --c-1: var(--p-1);
  --c-2: var(--p-2);
  --c-3: var(--p-3);
  --c-4: var(--p-4);
  --c-5: var(--p-5);
}

:root[theme="forest"] {
  --c-1: var(--g-1);
  --c-2: var(--g-2);
  --c-3: var(--g-3);
  --c-4: var(--g-4);
  --c-5: var(--g-5);
}

.c-1 {  background-color: var(--c-1) !important;}
.c-2 {  background-color: var(--c-2) !important;}
.c-3 {  background-color: var(--c-3) !important;}
.c-4 {  background-color: var(--c-4) !important;}
.c-5 {   background-color: var(--c-5) !important; }

.text-c-1 {  color: var(--c-1) !important;}
.text-c-2 {  color: var(--c-2) !important;}
.text-c-3 {  color: var(--c-3) !important;}
.text-c-4 {  color: var(--c-4) !important;}
.text-c-5 {   color: var(--c-5) !important; }

.negative { background-color: #D06155;}

.q-chip { border-radius: 15px; }
.q-field__control { border-radius: 15px !important; }
.q-btn:not(.q-btn--round) { border-radius: 15px !important;}
.q-input { border-radius: 15px !important;}
.q-card { border-radius: 15px !important;}
.q-select { border-radius: 15px; }

.op-60 { opacity: .6; }
.op-95 { opacity: .95; }

.rad-15 {
    border-radius: 15px;
}

.rad-50 {
    border-radius: 50px;
}

.q-scrollarea__thumb--v {
    display: none;
}

.close-btn {
  z-index: 10;
}

/*popups*/
.my_card {
    width: 25rem;
    border-radius: 8px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.always-primary .q-field__native,
.always-primary .q-field__label,
.always-primary .q-field__control,
.always-primary .q-field__marginal,
.always-primary .q-field__control:hover,
.always-primary .q-field__control:focus-within,
.always-primary .q-field__control-container {
    color: var(--c-3) !important;
    background-color: var(--c-1) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--c-3) !important;
    background-color: var(--c-1) !important;
}

.q-field--standout .q-field__control:before,
.q-field--standout .q-field__control:after {
    background: none !important;
    opacity: 0 !important;
}